.navbar {
  background-color: #be3144;
}

.jumbotron {
  padding-top: 6rem;
  background-color: #303841;
  color: #f0f0f0;
}

.jumbotron img,
.jumbotron h1,
.jumbotron p,
.jumbotron a {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#about {
  background-color: #f0f0f0;
}

#projects {
  background-color: #293785;
}

section {
  padding-top: 6rem;
}

.card {
  background-color: #f0f0f0;
}

.card img {
  padding: 1rem;
  border-radius: 2.5rem;
}

.btn-primary {
  background-color: #293785;
  transition: 0.5s;
}

.btn-primary:hover {
  opacity: 0.8;
}

.hidden-content {
  visibility: hidden;
}

#MyContact {
  font-size: 3rem;
}

#MyContact:hover {
  font-size: 3.2rem;
  transition: 0.7s;
}

footer {
  background-color: #be3144;
}

@media (max-width: 991.98px) {
  #myProjects {
    width: 50%;
  }
}

@media (max-width: 767.98px) {
  #myProjects {
    width: 100%;
  }
}
